Options +FollowSymLinks -MultiViews
RewriteEngine On

# MVC front controller
RewriteRule ^$ public/index.php [END,QSA]
RewriteRule ^assets/(.*)$ public/assets/$1 [END,QSA]
RewriteRule ^(.*)$ public/index.php [END,QSA]
