/* CSS Created by Atdhe Boshnjaku */

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
} 

:root {
    --main-bg-color: #f4f6f9;
    --main-text-color: #181c32;
    --soft-grey-text: #a1a5b7;
    --body-font-size: 16px;
    --blue-btn: #019ef7;
    --blue-btn-hover: #0191e4;
    --soft-grey: #f5f8fa;
    --soft-grey-t: #7e8299;
    --border-grey: #e4e6ef;
}

/* Buttons */

.action-btn {
    height: 35px;
    background: var(--soft-grey);
    color: var(--soft-grey-text);
    font-weight: 400;
    text-align: center;
    float: right;
    padding: 5px 30px;
    border: none;
    border-radius: 5px;
}

.action-btn:hover {
    background: var(--blue-btn);
    color: #ffffff;
    cursor: pointer;
}

.btn {
    width: calc(1.5em + 1.1rem + 2px);
    height: calc(1.5em + 1.1rem + 2px);
    background: var(--soft-grey);
    border-radius: 5px;
    margin-right: 10px;
    color: var(--soft-grey-text);
}

.btn:hover {
    color: var(--blue-btn);
}

.btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* End:buttons */

/* Action tables */

table.action-table {
    width: 100%;
}

table.action-table td, tr {
    height: 70px;  
    border-width: 1px;
    font-weight: 500;
    color: var(--main-text-color);
    border-style: none none dashed none;
    border-color: var(--border-grey); 
    vertical-align: middle !important;
}

table.action-table td a {
    text-decoration: none;
    list-style: none;
}

table.action-table td:nth-last-child(1) {
    text-align: right;
}

table.action-table th:nth-last-child(1) {
    text-align: right;
    padding-right: 5px !important;
    box-sizing: border-box;
}

table.action-table th {
    font-weight: 500;
    border-bottom: 1px dashed var(--border-grey);
}

.align-middle {
    vertical-align: middle !important;
}

table.action-table td p {
    color: var(--soft-grey-text);
    font-weight: 400;
}

table.action-table th {
    color: var(--soft-grey-text);
    text-align: left;
}

.badge {
    display: inline-block;
    padding: .5em .85em;
    font-size: 0.8em;
    font-weight: 600 !important;
    text-align: center;
    border-radius: 5px;
    white-space: nowrap;
    vertical-align: baseline;
    box-sizing: border-box;
}

.badge-active {
    background: #f1faff;
    color: #009ef7 !important;
}

.badge-vacation {
    background: #e8fff3;
    color: #50cd89 !important;
}

.badge-absent {
    background: #fff5f8;
    color: #f1416c !important;
}

/* End:tables */

span.warn {
    display: inline-block;
    color: #E97451;
    margin: 10px 0;
    box-sizing: border-box;
}

.login-ctn {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;   
}

.login-intro-img {
    flex: 40%;
    height: 100%;
    padding: 50px;
    box-sizing: border-box;
    background: var(--main-bg-color);
}

.login-intro-img img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.login-form-ctn {
    flex: 60%;
    height: 100%;
    background: #ffffff;
    position: relative;
}

.form-ctn {
    width: 50%;
    min-width: 280px;
    height: auto;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 50px 30px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 0px 20px var(--main-bg-color);
}

.form-ctn h1 {
    text-align: center;
    margin: 15px 0;
    box-sizing: border-box;
}

.login-form {
    width: 100%;
    height: 100%;
}

.login-form input {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding: 5px 15px;
    float: left;
    color: #1e1e2d;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    border-radius: 5px;
    background: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    box-sizing: border-box;
}

.login-form input[type=submit] {
    background: var(--blue-btn);
    color: #ffffff;
}

.login-form input[type=submit]:hover {
    background: var(--blue-btn-hover);
    cursor: pointer;
}

.fluid-ctn {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    background: var(--main-bg-color);
}

aside {
    flex: 18.6%;
    height: 100%;
    background: #1e1e2d;
    color: #9899ac;
    /*overflow: hidden;*/
}

.app-view {
    width: 81.4%;
    height: 100%;
    /*padding: 20px;*/
    overflow-y: auto;
    box-sizing: border-box;
}

.logo-ctn {
    width: 100%;
    height: 100px;
    float: left;
}

.top-bar {
    width: 100%;
    height: 65px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: #fff;
    color: #060600;
    box-shadow: 0px 0px 20px var(--main-bg-color);
}

.menu-item .menu-link .menu-title {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.menu-item {
    width: 100%;
    height: 40px;
    line-height: 40px;
    float: left;
    padding: 0 20px;
    box-sizing: border-box;
}

.active {
    color: red !important;
}

.menu-item:hover {
    background: #1b1b28;
    border-left: 2px solid #019ef7;
    padding-left: 18px;
}

.menu-item.active {
    background: #1b1b28;
    border-left: 2px solid #019ef7;
    padding-left: 18px;
}

.menu-item.active > a{
    color: #fff;
}

.menu-item:hover > a {
    color: #fff;
}

.menu-item a {
    color: #9899ac;
    list-style: none;
    text-decoration: none;
}

.menu-link {
    width: 100%;
    height: 100%;
    float: left;
}

.menu-icon {
    width: 2rem;
    margin-right: .5rem;
    float: left;
}

.menu-title {

}

.box {
    margin: 25px;
    padding: 25px;
    background: #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px var(--main-bg-color);
}

.box-header {
    width: 100%;
    float: left;
    height: 60px;
    margin-bottom: 25px;
    border-bottom: 1px solid var(--soft-grey);
} 

.box-lf-ctn {
    width: 80%;
    float: left;
}

.box-rt-ctn {
    width: 20%;
    float: left;
}

.box-header h2 {
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 1.6em;
}

.box-header p {
    color: var(--soft-grey-text);
    
}



/* Footer */

.footer {
    width: 100%;
    background: #ffffff;
    clear: both;
}

/* End::Footer  */

/* Tablet Screens */
@media screen and (min-width: 481px) and (max-width: 768px) {


.login-intro-img {
    flex: 50%;
}

.login-form-ctn {
    flex: 50%;
}

}


/* Mobile Screens */
@media screen and (max-width: 480px) {

.login-intro-img {
    flex: 100%;
}

.login-form-ctn {
    height: 0;
}

.login-intro-img img {
    width: 100%;
    height: 30%;
}

.form-ctn {
    margin-top: -400px;
    background: #ffffff;
}

}

























