Options -MultiViews
RewriteEngine On

# landing page for app subdomain to show index.php
RewriteRule ^$ Pages/index.php [L]

# skip all files and directories from rewrite rules below
RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# route dummy URLs to their php files inside Pages/ folder

RewriteRule ^(users|locations)/([\w-]+)/?$ Pages/$1.php?action=$2 [NC,L,QSA]
#RewriteRule (.+)/([\w-]+)/?$ Pages/$1.php?action=$2 [NC,L,QSA]

RewriteRule ^(users|locations)/([\w-]+)/(\d+)/?$ Pages/$1.php?action=$2&id=$3 [NC,L,QSA]
#RewriteRule (.+)/([\w-]+)/(\d+)/?$ Pages/$1.php?action=$2&id=$3 [NC,L,QSA]

# check & rewrite if a matching .php file exists in Pages folder
RewriteCond %{DOCUMENT_ROOT}/src/Pages/$1.php -f
RewriteRule ^(.+?)/?$ Pages/$1.php [L]